<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bird Box Blue Book</title>
    <link rel="canonical" href="https://birdboxbluebook.com">
    <meta name="description" content="Just another website to help bluebooking be less terrifying. Export your courses to your calendar as an .ics with one click, and search for building codes quickly." />
    <meta name="author" content="sahil@spase.io" />
    <meta name="theme-color" content="#000000">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="phot/favicon.png" />
    <link rel="apple-touch-icon" href="phot/apple-touch-icon.png" />

    <!-- facebook -->
    <meta property="og:url" content="https://birdboxbluebook.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bird Box Blue Book">
    <meta property="og:description" content="Just another website to help bluebooking be less terrifying. Export your courses to your calendar as an .ics with one click, and search for building codes quickly.">
    <meta property="og:updated_time" content="2019-01-01T20:20:20">
    <meta property="og:image" content="https://birdboxbluebook.com/phot/cover1.jpg">
    <!-- twitter -->
    <meta name="twitter:title" content="Bird Box Blue Book">
    <meta name="twitter:description" content="Just another website to help bluebooking be less terrifying. Export your courses to your calendar as an .ics with one click, and search for building codes quickly.">
    <meta name="twitter:image" content="https://birdboxbluebook.com/phot/cover1.jpg">

    <!-- tachyons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.11.1/css/tachyons.min.css" />
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- algolia -->
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

    <!-- fullstory -->
    <script>
        if (!window.location.href.includes('localhost')) {
            window['_fs_debug'] = false;
            window['_fs_host'] = 'fullstory.com';
            window['_fs_org'] = 'HQ4BS';
            window['_fs_namespace'] = 'FS';
            (function (m, n, e, t, l, o, g, y) {
                if (e in m) { if (m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); } return; }
                g = m[e] = function (a, b, s) { g.q ? g.q.push([a, b, s]) : g._api(a, b, s); }; g.q = [];
                o = n.createElement(t); o.async = 1; o.src = 'https://' + _fs_host + '/s/fs.js';
                y = n.getElementsByTagName(t)[0]; y.parentNode.insertBefore(o, y);
                g.identify = function (i, v, s) { g(l, { uid: i }, s); if (v) g(l, v, s) }; g.setUserVars = function (v, s) { g(l, v, s) }; g.event = function (i, v, s) { g('event', { n: i, p: v }, s) };
                g.shutdown = function () { g("rec", !1) }; g.restart = function () { g("rec", !0) };
                g.consent = function (a) { g("consent", !arguments.length || a) };
                g.identifyAccount = function (i, v) { o = 'account'; v = v || {}; v.acctId = i; g(o, v) };
                g.clearUserCookie = function () { };
            })(window, document, window['_fs_namespace'], 'script', 'user');
        }
    </script>

    <script>
        console.log('\n\n\nHi there, developers!\nhttps://youtu.be/IhJQp-q1Y1s\n\n\n');
    </script>
    <style>
        input {
            border: 0;
            outline: 0;

            border-radius: 2rem;
        }
        ::placeholder {
            color: #526f81;
            opacity: .3;
            transition: opacity 0.1s ease-in-out;
        }
        .pointer {
            /* tachyons styles plus this */
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    </style>

</head>

<body class="helvetica">

    <article class="pa4 pa5-ns bg-navy">
        <div class="measure">
            <img src="phot/meme1.png" class="br1 shadow-4" height="300px">
        </div>
    </article>

    <article class="pa4 pa5-ns bg-dark-blue white">
        <p class="measure-narrow f2 fw5 lh-copy mt0">
            Bird Box Blue Book
        </p>
        <p class="measure-narrow f5 fw3 lh-copy">
            A tiny site to help you bluebook this semester, so you don't get <i>blind-sided</i>,<br>
            or feel lost without <i>gravity</i>,<br>
            in a vast <i>ocean's 8</i>... <i>bird box</i>......
        </p>
        <p class="measure-narrow f3 fw4 lh-copy">
            <i>So what can I do on this site?</i>
            <ul class="list pl0 mt2 f4 fw3 lh-copy white">
                <li>&#9679; Search for courses <b>(ENGL 120)</b></li>
                <li>&#9679; Export them to your calendar <b>(GCal, iCal)</b></li>
                <li>&#9679; Get building names from building codes <b>(KBT)</b></li>
            </ul>
        </p>
    </article>

    <article id="vueClasses" class="pa4 pa5-ns bg-blue white">
        <p class="measure-narrow f2 fw5 lh-copy mt0">
            Search & Export
        </p>

        <input id="idsearchbar" class="f6 b input-reset pa3 mb2 helvetica dark-blue bg-near-white shadow-4" type="text"
            placeholder="ENGL 120" v-model="searchtext" @keyup.enter="choosefirstresult">

        <div></div>

        <div class="dib v-top w-40">
            <p v-for="r1 in searchresults" class="f4 mt2 mb0 pa2 fw6 link dim pointer" v-on:click="chooseresult(r1)">
                {{ [r1.subject + ' ' + r1.number + ' (' + r1.section + ')', r1.long_title, r1.professors.join(', ')].join(' / ') }}
            </p>
        </div>

        <div class="dib v-top w-40 bl bw2 pl4 pv2 mt3">
            <p v-for="r2 in chosens" class="f4 mt0 mb2 pa2 fw6 link dim pointer white" v-on:click="removechosen(r2)">
                {{ [r2.subject + ' ' + r2.number + ' (' + r2.section + ')', r2.long_title, r2.professors.join(', ')].join(' / ') }}
            </p>
            <a id="exportbutton" class="f4 b grow no-underline br-pill ph3 pv2 dib bg-orange white pointer shadow-4" v-on:click="exportics">Export</a>
        </div>
    </article>

    <article id="vueCodes" class="pa4 pa5-ns bg-light-blue dark-blue">
        <p class="measure-narrow f2 fw5 lh-copy mt0">
            Get Building Names
        </p>

        <input id="idsearchbar" class="f6 b input-reset pa3 mb2 helvetica dark-blue bg-near-white shadow-4" type="text"
            placeholder="KBT" v-model="searchtext">

        <p v-for="searchresult in searchresults" class="f4 mt2 mb0 pa2 fw6">
            {{ searchresult }}
        </p>
    </article>

    <article class="pa4 pa5-ns bg-near-white">
        <div class="measure">
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrW14MRxmsxrhPU0?backgroundColor=orange"
                frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>

        <p class="navy mt3 f7">Made with ☕ and without 😴 in New Haven</p>
    </article>

    <script src="buildpost.js"></script>

</body>

</html>